<div class="container">
  <h2 class="d-flex justify-content-center">Busara Surveys</h2>
  <div class="main-card">
      <div *ngFor="let survey of surveyForms" class="card form-card mb-3" (click)="goToSurvey(survey)">
        <div class="card-body">

          <div class="d-flex justify-content-start">
            <div>
              <h5 class="card-title">{{survey.name}}</h5>
              <p class="card-text">{{survey.description}}</p>
            </div>
          </div>

        </div>
      </div>
    </div>
</div>
